<form action="/webstore-search" method="POST">
    <label for="itemCode"></label><input type="text" name="itemCode" id="itemCode" placeholder="enter a PLU or UPC code here"> <small>OR</small>
    <label for="itemDescription"></label><input type="text" name="itemDescription" id="itemDescription" placeholder="enter the item name here">
    <input type="submit" value="search">
</form>