<form action="/store-system/webstore-departments" method="POST">
    <label for="categories"></label>
    <select name="itemDepartment" class="itemDepartment" onchange="this.form.submit()">
        <option value="null">Choose a Product Category</option>
        <option value="Produce">Produce</option>
        <option value="Meat">Meat</option>
        <option value="Grocery">Grocery</option>
        <option value="Bulk">Bulk</option>
    </select>
    <noscript><input type="submit" value="Submit"></noscript>
</form>