<section id="search-items">
    <span class="search-by-code">
        <h4 id="search-number-of-items" class="hide-on-mobile">Search from <%= data.length %> items!</h4>
        <!-- SEARCH BAR PARTIAL BEGIN -->
        <%- include('./partials-search-codes.ejs') %>
        <!-- SEARCH BAR PARTIAL END -->
    </span>
    <!-- DROPDOWN MENU PARTIAL BEGIN -->
    <%- include('./partials-dropdown-select.ejs') %>
    <!-- DROPDOWN MENU PARTIAL END -->
    <h4 id="next-day-pickup" class="hide-on-mobile">$60+ orders get free next-day pickup!</h4>
</section>