<header>
    <div id="header-inside">
        <h2 id="store-name"><a href="https://gregrasmussen.com/store-system/webstore">Town Market</a></h2>
            <h4 id="store-slogan">Your Local Supermarket</h4>
            
            <span class="contact">contact</span>
            <span class="aboutus">about us</span>
            <span class="social-icons">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
            </span>
        
        <span><a href="/store-system/webstore-cart">your cart: <%= customerOrderAtWebStore.length %> items</a></span>
    </div> 
</header>

<div id="below-header">
    Town Market is a fake <span class="hide-on-mobile">demonstration</span> store that sells nothing<span class="hide-on-mobile"> except the website development skills of very real web developer Greg Rasmussen, who built this site from scratch using NodeJS, Express, and MongoDB</span>.
</div>