<form action="/store-system/webstore-search" method="POST">
    <label for="itemCode"></label><input type="text" name="itemCode" id="itemCode" placeholder="enter a PLU or UPC code here">
    <input type="submit" value="search">
</form>