<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="css/web-orders-new.css">
    <title>Confirm Complete Web Orders</title>
</head>
<body>
    <h1>Customer Web Order Submitted</h1>
    
        
    <div class="begin-new-order">
        <form action="/webstore-order-pick" method="GET">
            
            <input type="submit" value="start collecting new order">
        </form>
        
    </div>

    
</body>
</html>