<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="/public/css/web-orders-new.css">
    <title>New Web Orders</title>
</head>
<body>
    
    <h1>Customer Web Orders</h1>
    
    <h4 id="online-order-count"></h4>
        
    <div class="begin-new-order">
        <form action="/store-system/webstore-order-pick" method="GET">
            
            <input type="submit" value="start collecting new order">
        </form>
    </div>

</body>
</html>