<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Submitted</title>
    <link rel="stylesheet" type="text/css" href="public/css/store-system-main.css">
    <link rel="stylesheet" type="text/css" href="public/css/webstore.css">
</head>

<% let newCategoryArray = []; %>
<% let newDepartmentArray = []; %> 

<body>
<!-- HEADER PARTIAL START -->

<%- include('../views/partials/partials-header.ejs') %>

<!-- HEADER PARTIAL END -->

    <div id="order-confirmation-message">
        <h3>We thank you for choosing to place your order with us today!</h3>

        <h3>Your confimation number for this web order is: <%= result[0]._id %></h3>
    </div>

    
</body>
</html>

<script src="data/site-data-config.js"></script>